.panda-slide .carousel-item {background-color: #FCEAE8;border-radius: 1em;padding-left: 40px;}
.panda-card {border: 0;}
.panda-footer {border: 0;background-color:white;}
.catagories img {width: 100px;border-radius: 1em;}